/* début partie Julien */

img{
    width: 50px;
    height: 50px;
}
#console{
    background-color: white;
}

#games{
    background-color: white;
}

#accessories{
    background-color: white;
}

.addToCart{
    width: 95px;
}
.border{
    border: 1px solid black;
}

/* fin partie Julien */
.bg{
background-color: #665cbe;
height: 50px;
text-align: center;
color: white;
font-family: 'Press Start 2P', cursive;
font-size: 30px;
}

.about{
    text-align: center;
    color: white;
    background-color:#665cbe;
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
}

.bg-bottom{
    background-color: #665cbe;
    height: 50px;
    
}
